CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
Makefile
.make
build
build-
build
build-
out
bin
lib
linker 
Release
Debug
.[oa]
.exe
.dll
.so
.dylib
.lib
.a
.vscode
.idea
.suo
.user
.userprefs
.DS_Store
.swp
~
.bak
.log
.tmp
.temp
WibyuanGomoku_Package
WibyuanGomoku_Package.zip
_boxed.exe
_boxed.exe.i64 
.boxed
_boxed
